.twoColumns {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
}

.newGoblin {
    padding: 20px;
   *position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: darkslateblue;
    width: 300px;

}

.newGoblinFull {
    width:220px;
    margin: auto;
}

.ten {
    margin-left: 50px;
    width: 100px;
}
