.twoColumns1 {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
}

.editGoblin {
    padding: 20px;
    *position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: darkslateblue;
    width: 300px;

}

.editGoblinFull {
    width:220px;
    margin: auto;
}

.ten {
    margin-left: 50px;
    width: 100px;
}
.grid {
    display: grid;
    grid-gap: 20px;
    padding-top: 20px;
}
.tawdol {
    padding-top: 10px;
}

.tamten {
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 440px;

}
tbody tr:nth-child(odd) {
    background-color: crimson;
}
tbody tr:nth-child(even) {
    background-color: blue;
}
tbody td:hover {
    background-color: yellow;
}
tfoot {
    background-color: lime;
}
thead{
    background-color: forestgreen;
    color: black;
}
caption{
    text-align: center;
    font-size: large;
    color: #dde231;
    background-color: #45c3ff;
    padding: 10px;

}
td, th {
    padding: 10px;
}
table, tr, td, th {
    border: #342cdc solid 5px;
    /*border-collapse: collapse;*/
}
th {
    text-transform: uppercase;
}

table {
    width: 800px;
    margin-left: 100px;
}
